In [32]:
import pandas as pd

In [33]:
df = pd.read_excel(r"C:\Users\Lenovo\Downloads\prices.xlsx")
df= df.fillna("")

In [34]:
df

   Date PAID BY FOR WHO               Category    Price
0   NaT      DP  Shared              DP flight  1762.13
1   NaT      DP  Shared                DP visa    21.27
2   NaT      MP  Shared              mp flight   596.60
3   NaT      MP  Shared               hotel sf   617.46
4   NaT      MP  Shared              airbnb la   858.17
..  ...     ...     ...                    ...      ...
87  NaT      DP  Shared    Malibu Pier Parking    10.00
88  NaT      DP  Shared  Yangji Gamjatang Park     5.00
89  NaT      DP  Shared                 Ralphs    20.43
90  NaT      DP  Shared                  Tacos    45.00
91  NaT      DP  Shared                   Vape    45.00

[92 rows x 5 columns]

In [35]:
dp_tab = []
mp_tab = []

for n, payer in enumerate(df['PAID BY']):
    temp = []
    category = df['Category'][n]
    price = df['Price'][n]
    shared_or_personal_spending = df['FOR WHO'][n]
    if shared_or_personal_spending == "Shared":
        temp.extend([payer, shared_or_personal_spending, category, price/2])
    else:
        temp.extend([payer, shared_or_personal_spending, category, price])
    if payer == "DP":
        mp_tab.append(temp)
    else:
        dp_tab.append(temp)

    #xifangktv.com

In [36]:
mp_df = pd.DataFrame(data=mp_tab, columns = ["payer", "type", "category", "price"])

In [37]:
dp_df = pd.DataFrame(data=dp_tab, columns = ["payer", "type", "category", "price"])

In [38]:
mp_df.to_excel(r"C:\Users\Lenovo\Downloads\mpprices.xlsx", index= False)
dp_df.to_excel(r"C:\Users\Lenovo\Downloads\dpprices.xlsx", index= False)